h1{
    /* color: red; */
}
h2{
    position: relative;
    top: -500px;
}
#navbar {
    height: 80px;
    background-color: orangered;
    display: flex;
    justify-content: space-around;
}
ul {
    display: flex;
}
ul li{
    margin-left: 50px;
    font-size: 1.5rem;
    list-style: none;
}
ul li a{
    text-decoration: none;
}